

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

.navbar {
    background-color: #cccccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    padding: 30px;
    background-color: #222;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
    color: white;
    padding-left: 50px;
}

.logoLink {
    text-decoration: none;
}

.logoLink:visited {
    color: white;
}

.stylish {
    font-weight: bold;
}

.logo {
    padding-left: 4px;
    color: #ea4f4c;
}

.logoWrapper {
    font-size: 20px;
}

.navigation {
    list-style-type: none;
    display: flex;
}

.parent a {
    color: white;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.parent {
    padding: 0 10px;
}

.parent a:hover {
    color: #ea4f4c;
}

.profile-pic {
    width: 320px;
    border-radius: 200px;
    margin-left: 50px;
    float: left;
    margin-right: 100px;
}

.main-section {
    margin-top: 50px;
}

.header {
    margin-bottom: 50px;
    font-size: 3em;
}

.about-me {
    display: block;
    font-size: 2em;
    text-decoration: underline;
}

.beside-profile-pic {
    text-align: center;
    margin-right: 250px;
    margin-bottom: 100px;
}

.about-me-text {
    font-size: 18px;
}

.about-me-div {
    display: inline;
    /* text-decoration: underline; */
}

html {
    margin-bottom: 75px;
}

/* .footer{
    display: block;
    margin: 100px; 
} */